.x-table-layout-cell-top td.x-table-layout-cell{
    vertical-align: top;
}

.icon-tab{ background-image: url(/images/icons/page.png) !important; }

.x-form-browse-trigger{
    background-image: url(/images/trigger-browse.gif);
}
