<!DOCTYPE html>
<html>
<head>
  <title>ServiceCenter</title>
  <%= netzke_init %>
  <%= stylesheet_link_tag 'center', 'boxselect'%>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
